/* CSS */

.dropdown {
  position: relative;
  display: inline-block;
  z-index: 1;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color:#fcfafa;
  min-width: 160px;
  justify-content: left;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9;

}

/* Dropdown button */
.dropbtn {
  background-color: transparent;
  padding: 0px;
  font-size: 15px;
  border: none;
  cursor: pointer;
  color: #0f100f; 
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 550;
 z-index: 998;
 position: relative;
}

.dropbtn:hover {
  background-color: transparent;
 
}

/* Dropdown list items */
.dropdown-content li {
  list-style: none;
  padding: 5px 12px;
  display: flex;
  width: 110px;
  height: 30px;
  align-items: center;
}

.dropdown-content li:hover {
  background-color: #b2d7f6;
  border-radius: 10px;
}


/* Show dropdown content when toggled */
.dropdown-content.show {
  display: block;
  top: 11%; 
  left: -39.5%;
  transform: translateX(-50%);
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  z-index: 1;
}

.hide {
  display: none;
}

.expertise-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding-top: 10px;
  width: 312px;
  margin: 0 20px 10px;
}

.expertise-section {
  margin-right: 20px;
  padding: 0px;
  text-align: left;
}

@media (max-width: 767px) {
  .dropdown-content {
    left: 50%;
    transform: translateX(-50%); 
    position: absolute;
    width: 330px;
  }
  .dropdown-content.show{
    top: -1615%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    padding-bottom: 20px;
  
  }
}
@media (max-width: 400px) {
  .dropdown-content {
    left: 50%;
    transform: translateX(-50%); 
    position: absolute;
    width: 330px;
  }
  .dropdown-content.show{
    top: -1415%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    padding-bottom: 20px;
  
  }
}
@media (max-width: 380px) {
  .dropdown-content {
    left: 50%;
    transform: translateX(-50%); 
    position: absolute;
    width: 300px;
  }
  .dropdown-content.show{
    top: -1530%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    padding-bottom: 20px;
  
  }
}
@media (max-width: 300px) {
  .dropdown-content {
    left: 50%;
    transform: translateX(-50%); 
    position: absolute;
    width: 300px;
  }
  .dropdown-content.show{
    top: -1805%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    padding-bottom: 20px;
  
  }
}



@media (max-width: 415px) {
  .dropdown button {
    font-size: 16px;
    padding: 3px 0;
  }
}

@media (max-width: 380px) {
  .dropdown button{
    font-size: 14px;
    padding: 3px 0;
  }
}
@media (max-width: 350px) {
  .dropdown button {
    font-size: 10px;
    padding: 3px 0;
  }
}



  